.intro {
  position: relative;
  width: 100%;
  height: 100vh;

  .text-header {
    @screen xl {
      line-height: 4.5rem;
    }
    @screen 2xl {
      line-height: 7rem;
    }
  }

  .rtl-grid {
    direction: rtl;
  }

  ul.list-arrows {
    & li {
      @apply flex items-center relative pr-[18px];

      &:before {
        content: "";
        @apply absolute border-r border-b border-black;
        width: 6px;
        height: 6px;
        top: 50%;
        left: auto;
        right: 0;
        transform: translateY(-50%) rotate(135deg);
      }
    }
  }

  .left {
    float: left;
    height: 100%;
    width: 60%;
    display: table;
  }

  .left > div {
    display: table-cell;
    vertical-align: middle;
  }

  .slider {
    float: right;
    position: relative;
    width: 40%;
    height: 100%;
  }

  .slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition:
      clip 0.7s ease-in-out,
      z-index 0s 0.7s;
    clip: rect(0, 100vw, 100vh, 100vw);
    display: table;
  }

  .center-y {
    position: absolute;
    bottom: auto;
    top: 50%;
    left: -160px;
    right: 0;
    z-index: 10;
    transform: rotate(-90deg) translateX(50%);
    display: inline-table;
    overflow: hidden;
    width: 300px;
    height: 20px;

    h4 {
      display: none;

      &.current {
        display: block;
      }
    }
  }

  li.current {
    z-index: 1;
    clip: rect(0, 100vw, 100vh, 0);
  }

  li.prev {
    clip: rect(0, 0, 100vh, 0);
  }

  .slider nav {
    position: absolute;
    bottom: 2%;
    left: -35px;
    right: 0;
    z-index: 10;
    transform: rotate(-90deg);
    display: inline-table;
  }

  nav a {
    display: inline-block;
    border-radius: 50%;
    min-width: 6px;
    min-height: 6px;
    background: rgba(244, 63, 94, 0.75);
    margin: 0 0.2rem;
    transition: transform 0.3s;
  }

  a.current_dot {
    transform: scale(1.2);
  }

  @media screen and (max-width: 768px) {
    .left {
      width: 100%;
      height: 30%;
    }
    .slider {
      width: 100%;
      height: 70%;
    }
  }
}
