.swiper {
  overflow: visible;
}

.meta-data-wrapper {
  .text-description {
    img {
      width: 100%;
      height: auto;
    }
  }

  .link-text {
    & > a {
      @apply underline;
      @apply text-primary-800;
    }
  }
}

ul.list-arrows {
  & li {
    position: relative;
    padding-left: 18px;
    &:before {
      content: "";
      position: absolute;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      width: 6px;
      height: 6px;
      top: calc(50% - 1px);
      left: 0;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.logos-wrapper {
  & > div {
    @apply text-3xl;
    @apply justify-start;

    svg {
      @apply mx-2;
    }
  }
}

.absolute-element {
  @apply cursor-grab transition-opacity duration-300 ease-in-out opacity-15;
}

.absolute-element:hover {
  @apply z-[999] opacity-100;
}

.absolute-element.dragging {
  @apply cursor-grabbing z-[999];
}

.slider-wrapper {
  @apply mt-8;

  &:hover {
    opacity: 1;
    z-index: 999;
  }

  &:hover ~ .absolute-element {
    @apply z-[1] opacity-15;
  }

  @media screen(lg) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    @apply mt-0;
    width: 600px;
    height: 400px;
  }

  @media screen(xl) {
    width: 900px;
    height: 600px;
  }

  @media screen(2xl) {
    width: 1200px;
  }

  .triple-slider-main {
    @apply rounded-lg;
    @apply overflow-hidden;
  }

  .swiper-initialized {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    @apply max-w-5xl;

    .swiper-slide {
      max-width: 100%;
      height: auto;

      .image-container,
      .image-wrapper,
      img {
        width: 100% !important;
        max-width: 100%;
        height: auto !important;
        position: static !important;
      }
    }
  }

  &.triple-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    perspective: 1200px;

    @media screen(lg) {
      position: absolute;
    }

    .triple-slider-main {
      position: relative;
      z-index: 10;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }

    .swiper.swiper-main,
    .swiper.swiper-next {
      display: none;
      @media screen(lg) {
        display: block;
      }
    }

    .triple-slider-prev,
    .triple-slider-next {
      display: none;
    }

    @media screen(lg) {
      .triple-slider-prev,
      .triple-slider-next {
        display: block;
        opacity: 0.25;
        position: absolute;
        top: 50%;
        user-select: none;
        cursor: pointer;
      }
      .triple-slider-prev {
        right: 50%;
        transform: translateY(-50%) scale(0.75) rotateY(10deg);
      }
      .triple-slider-next {
        left: 50%;
        transform: translateY(-50%) scale(0.75) rotateY(-10deg);
      }
    }
  }
}
