.swiper {
  overflow: visible;
}

.modal-wapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .slider-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider-wrapper {
  .swiper-initialized {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    @apply max-w-5xl;

    .swiper-slide {
      max-width: 100%;
      height: auto;

      .image-container,
      .image-wrapper,
      img {
        width: 100% !important;
        max-width: 100%;
        height: auto !important;
        position: static !important;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #000;
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-pagination {
      bottom: 0;
    }
  }
}

.logos-wrapper {
  & > div {
    @apply text-3xl;

    svg {
      @apply mx-2;
    }
  }
}
