.card-slide {
  @apply relative;
  @apply bg-white;
  @apply mx-auto;
  @apply max-w-[300px];
  cursor: pointer;

  & h4 {
    @apply w-[320px];
    @apply -ml-2;
  }

  img {
    max-width: 95%;
    margin: 0 auto;
    position: relative;
    border: 3px solid #666666;
    padding: 15px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  div.card-meta {
    position: relative;
    background-color: transparent;
    z-index: 9;
    position: relative;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
