.card-slide {
  @apply relative;
  @apply bg-white;
  /* @apply mx-auto;
  @apply max-w-[33.33333%]; */
  text-align: center;
  cursor: pointer;

  & h4 {
    @apply w-[320px];
    @apply -ml-2;
    @apply bg-white;
  }

  img {
    margin: 0 auto;
    position: relative;
    border: 3px solid #666666;
    @apply p-4;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  div.card-meta {
    position: relative;
    background-color: transparent;
    z-index: 9;
    position: relative;
    padding: 0;
    left: 0;
    width: 100%;
    top: -30px;
    @apply max-w-[300px];

    div.card-meta__date-wrapper {
      top: -20px;
      position: relative;
    }
  }

  .card-slide__icons-wrapper {
    svg {
      @apply mx-1;
      @apply mb-1;
    }
  }
}
