.header__main {
  .text {
    &.text-header {
      font-size: calc(1.25rem + 1.2vw);

      @screen lg {
        font-size: 3.75rem;
        line-height: 1;
      }
    }
    &.text-subheader {
      font-size: calc(1rem + 1.2vw);
      @apply -mt-2;

      @screen lg {
        font-size: calc(1.875rem);
        @apply mt-0;
      }
    }
  }
}

.header__aux-gallery-details {
  div.flex.items-center {
    @apply text-base;

    @screen lg {
      @apply text-4xl;
    }
  }
  svg {
    @apply mx-0.5;
    @apply my-0.5;
  }
}

.header__aux-image-details {
  .frame-wrapper-image {
    /* transform: scale(0.5);
    @screen lg {
      transform: scale(1);
    } */
  }
}

.header__aux-contact-details {
  ul {
    @apply mt-2;
    @apply -ml-4;
    position: relative;
    z-index: 2;
  }
}
