@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(255, 255, 255, 1);
  --textColor: rgba(0, 0, 0, 0.87);
  --bgColor: rgba(248, 248, 247, 1);
}

body {
  overflow-x: hidden;

  &.modal-open {
    overflow: hidden;
  }
}

body.theme-dark.modal-open {
  --textColor: rgba(0, 0, 0, 0.87);
}

.container {
  overflow-x: hidden;
  @screen lg {
    overflow-x: visible;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(0, 0, 0, 0.87);
    --copy-primary: rgba(255, 255, 255, 1);
  }

  body.theme-dark.modal-open {
    --textColor: rgba(0, 0, 0, 0.87);
  }

  .theme-dark {
    --textColor: rgb(206, 207, 212);
    --bgColor: rgb(2, 6, 23);
  }

  body.theme-dark {
    background-color: var(--bgColor);
    color: var(--textColor);

    .portfolio__slider .swiper-slide .portfolio__slide-content {
      background-color: var(--bgColor);
    }

    .card-slide h4 {
      background-color: var(--bgColor);
      color: var(--textColor);
    }

    .dark\:bg-slate-950 {
      background-color: rgb(2, 6, 23);
    }
  }

  html.dark {
    body,
    .card-slide,
    .card-slide .card-meta h4 {
      background-color: rgb(2, 6, 23);
      color: rgb(206, 207, 212);
    }

    .modal-wapper {
      background-color: var(--background);
    }

    .modal-wapper .text,
    .modal-wapper a {
      color: var(--bgColor) !important;
    }

    .docs-story {
      background-color: rgb(2, 6, 23);
    }

    .dark\:text-white {
      color: @apply text-white;
    }

    .dark\:bg-slate-950 {
      background-color: rgb(2, 6, 23);
    }
  }
}

.button-dark {
  svg {
    path {
      fill: var(--textColor);
    }
  }
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-ExtraLightItalic.eot");
  src:
    local("Raleway ExtraLight Italic"),
    local("Raleway-ExtraLightItalic"),
    url("/font/hinted-subset-Raleway-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-ExtraLightItalic.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-ExtraLightItalic.woff") format("woff"),
    url("/font/hinted-subset-Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic")
      format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-ExtraLight.eot");
  src:
    local("Raleway ExtraLight"),
    local("Raleway-ExtraLight"),
    url("/font/hinted-subset-Raleway-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-ExtraLight.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-ExtraLight.woff") format("woff"),
    url("/font/hinted-subset-Raleway-ExtraLight.svg#Raleway-ExtraLight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-BlackItalic.eot");
  src:
    local("Raleway Black Italic"),
    local("Raleway-BlackItalic"),
    url("/font/hinted-subset-Raleway-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-BlackItalic.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-BlackItalic.woff") format("woff"),
    url("/font/hinted-subset-Raleway-BlackItalic.svg#Raleway-BlackItalic")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-Light.eot");
  src:
    local("Raleway Light"),
    local("Raleway-Light"),
    url("/font/hinted-subset-Raleway-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-Light.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-Light.woff") format("woff"),
    url("/font/hinted-subset-Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-Bold.eot");
  src:
    local("Raleway Bold"),
    local("Raleway-Bold"),
    url("/font/hinted-subset-Raleway-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-Bold.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-Bold.woff") format("woff"),
    url("/font/hinted-subset-Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-ExtraBoldItalic.eot");
  src:
    local("Raleway ExtraBold Italic"),
    local("Raleway-ExtraBoldItalic"),
    url("/font/hinted-subset-Raleway-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-ExtraBoldItalic.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-ExtraBoldItalic.woff") format("woff"),
    url("/font/hinted-subset-Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-LightItalic.eot");
  src:
    local("Raleway Light Italic"),
    local("Raleway-LightItalic"),
    url("/font/hinted-subset-Raleway-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-LightItalic.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-LightItalic.woff") format("woff"),
    url("/font/hinted-subset-Raleway-LightItalic.svg#Raleway-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-BoldItalic.eot");
  src:
    local("Raleway Bold Italic"),
    local("Raleway-BoldItalic"),
    url("/font/hinted-subset-Raleway-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-BoldItalic.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-BoldItalic.woff") format("woff"),
    url("/font/hinted-subset-Raleway-BoldItalic.svg#Raleway-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-ExtraBold.eot");
  src:
    local("Raleway ExtraBold"),
    local("Raleway-ExtraBold"),
    url("/font/hinted-subset-Raleway-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-ExtraBold.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-ExtraBold.woff") format("woff"),
    url("/font/hinted-subset-Raleway-ExtraBold.svg#Raleway-ExtraBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-Medium.eot");
  src:
    local("Raleway Medium"),
    local("Raleway-Medium"),
    url("/font/hinted-subset-Raleway-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-Medium.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-Medium.woff") format("woff"),
    url("/font/hinted-subset-Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-Italic.eot");
  src:
    local("Raleway Italic"),
    local("Raleway-Italic"),
    url("/font/hinted-subset-Raleway-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-Italic.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-Italic.woff") format("woff"),
    url("/font/hinted-subset-Raleway-Italic.svg#Raleway-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-Black.eot");
  src:
    local("Raleway Black"),
    local("Raleway-Black"),
    url("/font/hinted-subset-Raleway-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-Black.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-Black.woff") format("woff"),
    url("/font/hinted-subset-Raleway-Black.svg#Raleway-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-MediumItalic.eot");
  src:
    local("Raleway Medium Italic"),
    local("Raleway-MediumItalic"),
    url("/font/hinted-subset-Raleway-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-MediumItalic.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-MediumItalic.woff") format("woff"),
    url("/font/hinted-subset-Raleway-MediumItalic.svg#Raleway-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-Thin.eot");
  src:
    local("Raleway Thin"),
    local("Raleway-Thin"),
    url("/font/hinted-subset-Raleway-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-Thin.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-Thin.woff") format("woff"),
    url("/font/hinted-subset-Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-ThinItalic.eot");
  src:
    local("Raleway Thin Italic"),
    local("Raleway-ThinItalic"),
    url("/font/hinted-subset-Raleway-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-ThinItalic.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-ThinItalic.woff") format("woff"),
    url("/font/hinted-subset-Raleway-ThinItalic.svg#Raleway-ThinItalic")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/hinted-subset-Raleway-Regular.eot");
  src:
    local("Raleway"),
    local("Raleway-Regular"),
    url("/font/hinted-subset-Raleway-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/font/hinted-subset-Raleway-Regular.woff2") format("woff2"),
    url("/font/hinted-subset-Raleway-Regular.woff") format("woff"),
    url("/font/hinted-subset-Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "Raleway", system-ui, sans-serif;
  }

  strong {
    font-weight: 500;
  }

  .text a {
    @apply text-primary-600;
    text-decoration: underline;
  }

  .theme-dark {
    .text a {
      color: var(--textColor);

      &:hover {
        @apply text-primary-600;
      }

      &:visited {
        @apply text-primary-600;
      }
    }
  }
}

@layer utilities {
  .custom-scrollbar {
    @apply pr-4;
    scrollbar-width: thin;
    position: relative;
    left: 15px;
    margin-left: -15px;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-opacity-20;
    position: relative;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid rgba(159, 18, 57, 1);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(159, 18, 57, 1);
  }
}

.theme-dark {
  .GitBranchIcon {
    path {
      fill: var(--textColor);
    }
  }
}
