.triple-slider {
  @apply w-full relative overflow-hidden;
  perspective: 1200px;
}
.triple-slider .triple-slider-main {
  @apply relative z-[10] shadow-[0px_0px_30px_rgba(0,0,0,0.5)];
}
.triple-slider .triple-slider-prev,
.triple-slider .triple-slider-next {
  @apply opacity-25 absolute top-1/2 select-none cursor-pointer;
}
.triple-slider .triple-slider-prev {
  @apply right-1/2 transform translate-y-[-50%] scale-[0.75];
  transform: translateY(-50%) scale(0.75) rotateY(10deg); /* Rotación 3D manual */
}
.triple-slider .triple-slider-next {
  @apply left-1/2 transform translate-y-[-50%] scale-[0.75];
  transform: translateY(-50%) scale(0.75) rotateY(-10deg); /* Rotación 3D manual */
}
.triple-slider .swiper {
  @apply w-[90%] max-w-[640px] rounded-[8px];

  @screen 2xl {
    @apply max-w-[1200px];
  }
}
.triple-slider .bg-image {
  @apply w-full h-full object-cover;
}
